---
title: Icon Button
layout: icon-font-demo.hbs
---
<div style="padding: 20px;">
  <button type="button" class="btn btn-with-icon btn-axa">{{> icon name="download" classes="icon btn-icon"}}<span>Left Icon Button SVG</span></button>
</div>
<div style="padding: 20px;">
  <button type="button" class="btn btn-with-icon btn-axa"><span>Right Icon Button SVG</span>{{> icon name="download" classes="icon btn-icon"}}</button>
</div>
<div style="padding: 20px;">
  <button type="button" class="btn btn-with-icon btn-axa btn-secondary"><span>Right Icon Button SVG secondary</span>{{> icon name="download" classes="icon btn-icon"}}</button>
</div>
